In [16]:
import pandas as pd
music_data = pd.read_csv('music.csv')

In [11]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [13]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [15]:
Y = music_data['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
model = DecisionTreeClassifier()

In [20]:
model.fit(X,Y)

DecisionTreeClassifier()

In [25]:
predictions = model.predict([ [21,1] , [22,0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [30]:
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

In [31]:
score = accuracy_score(Y_test, predictions)
score

1.0

In [37]:
# from sklearn.externals import joblib
# import sklearn.external.joblib as extjoblib
import joblib

joblib.dump(model , 'music_recommender.joblib')

['music_recommender.joblib']

In [39]:
modelLoaded = joblib.load('music_recommender.joblib')
predictions = model.predict(X_test)
print(predictions)
print(Y_test)

['HipHop' 'Jazz' 'Dance' 'Classical']
1       HipHop
5         Jazz
9        Dance
7    Classical
Name: genre, dtype: object

In [41]:
from sklearn import tree
tree.export_graphviz(model,
                    out_file='music_recommender.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(Y.unique()),
                    rounded=True,
                    filled=True)